 footer {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: black;
     color: aliceblue;
     margin-top: 9.4rem;
     padding-top: 2rem;
     width: 100%;
     position: fixed;
     bottom: 0;
     flex-wrap: wrap;
 }

 footer ul li:first-child {
     font-size: 1.82rem;
     text-transform: uppercase;
     font-weight: bolder;
 }

 footer ul li {
     list-style-type: none;
     font-size: 1.52rem;
     line-height: 3.2rem;
 }