.price-section {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    margin-top: 6.4rem;
    flex-wrap: wrap;
}

.price-section-one {
    background-image: linear-gradient(to right, rgba(217, 87, 231, 0.918), rgba(176, 65, 124, 0.858)), url(../images/amish-thakkar-BEdxXAiRfRM-unsplash.jpg);
    color: aliceblue;
    line-height: 3.2rem;
    text-align: center;
    font-size: larger;
    padding: 4rem 2rem;
    border: 0px solid black;
    border-radius: 11px;
    background-size: cover;
    background-repeat: no-repeat;
}

.fixed {
    font-size: 3.2rem;
    font-weight: bolder;
    letter-spacing: 0.15rem;
    color: rgb(211, 204, 204);
}

.price-section-one ul li {
    list-style-type: none;
}

@media screen and (max-width: 825px) {
    .price-section-one {
        padding: 2rem 1rem;
        border-radius: 11px;
    }
}

@media screen and (max-width: 770px) {
    .price-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-around;
        font-size: larger;
        margin-top: 6.4rem;
        flex-wrap: wrap;
    }
}